body {
	background-image: url("bg2.png");
}

img {
	width: 32px;
}

.button {
	margin: 0;
	padding: 0;
}

.button {
	font-family: Cuprum, Arial, Verdana, sans-serif;
	width: 250px;
	height: 70px;
	margin: 250px auto;
	position: relative;
}

.button__demo, .button__text, .button__image, .button__demo:before, .button__image:after{
	position: absolute;
	transition: all 1s;

}

.button a {
	text-decoration: none;
	color: #fff;
}

.button__demo, .button__image {
	background: rgb(214,113,113);
background: -moz-linear-gradient(-45deg,  rgba(214,113,113,1) 0%, rgba(160,25,27,1) 47%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(214,113,113,1) 0%,rgba(160,25,27,1) 47%,rgba(0,0,0,1) 100%);
background: linear-gradient(135deg,  rgba(214,113,113,1) 0%,rgba(160,25,27,1) 47%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d67171', endColorstr='#000000',GradientType=1 );

}

.button__demo {
	width: 105px;
	line-height: 70px;
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	padding: 0 10px 0 15px;
	left: 0;
	top: 0;
	z-index: 10;
	border-radius: 10px 0 0 10px;
	text-shadow: -1px -1px 1px #000; 
}

.button__text {
	background: rgb(165,205,239);
background: -moz-linear-gradient(-45deg,  rgba(165,205,239,1) 1%, rgba(0,195,229,1) 40%, rgba(0,151,193,1) 67%, rgba(0,127,186,1) 83%, rgba(0,85,142,1) 96%);
background: -webkit-linear-gradient(-45deg,  rgba(165,205,239,1) 1%,rgba(0,195,229,1) 40%,rgba(0,151,193,1) 67%,rgba(0,127,186,1) 83%,rgba(0,85,142,1) 96%);
background: linear-gradient(135deg,  rgba(165,205,239,1) 1%,rgba(0,195,229,1) 40%,rgba(0,151,193,1) 67%,rgba(0,127,186,1) 83%,rgba(0,85,142,1) 96%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5cdef', endColorstr='#00558e',GradientType=1 );

	color: #fff;
	font-size: 35px;
	width: 150px;
	line-height: 40px;
	text-align: center;
	padding: 10px 0 10px 10px;
	left: 5px;
	top: 5px;
}

.button__image {
	width: 45px;
	line-height: 45px;
	padding: 20px 0 0 20px;
	left: 140px;
	top: 0;
	border-radius: 0 10px 10px 0;
}

.button__demo:before {
	content: '';
	width: 0;
	height: 0;
	border-top: 35px solid transparent;
	border-left: 10px solid #2D0A00;
	border-bottom: 35px solid transparent;
	top: 0;
	left: 129px;

}

.button__image:after {
	content: '';
	width: 0;
	height: 0;
	border-top:  30px solid transparent;
	border-left: 10px solid #1E83B2;
	border-bottom: 35px solid transparent;
	top: 3px;
	left: 0;
}

/* Animation */

.button a:hover .button__demo,
.button a:hover .button__demo:before,
.button a:hover .button__text,
.button a:hover .button__image,
.button a:hover .button__image:after {
	transition: all 0.5s
}

.button a:hover .button__demo{
	width: 50px;
	padding: 0 10px 0 10px;
	font-size:  20px;
	
}

.button a:hover .button__demo:before {
	left: 69px;
}

.button a:hover .button__image {
	left: 185px;
}

.button a:hover .button__text {
	left: 50px;
}

.button__image img {
	transition: all 0.5s;
}

.button a:hover img{
	transform: rotate(360deg);
	opacity: 0.7;
}

/*Animation :active*/

.button a:active .button__demo,
.button a:active .button__image {
	background: rgb(214,113,113);
background: -moz-linear-gradient(45deg, rgba(214,113,113,1) 0%, rgba(143,2,34,1) 44%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(214,113,113,1) 0%,rgba(143,2,34,1) 44%,rgba(0,0,0,1) 100%);
background: linear-gradient(45deg, rgba(214,113,113,1) 0%,rgba(143,2,34,1) 44%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d67171', endColorstr='#000000',GradientType=1 );
}

.button a:active .button__text {
	background: rgb(0,183,234);
background: -moz-linear-gradient(45deg, rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);
background: linear-gradient(45deg, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=1 );
transition: all 0.1s;
box-shadow: 0 0 3px 1px #82dcff;
}

.button a:active .button__image:after {
	border-left: 10px solid #25A1CE;
	transition: all 0.1s;
}

.button a:active img {
	transform: rotate(0deg);
	opacity: 1;
}