body {
	background-image: url("../img/bg2.jpg");
}

header {
	margin-top: 200px;
	font-family: Cuprum, Arial, Helvetical, sans-serif;
}	

.menu *{
	margin: 0;
	padding: 0;
}

.menu ol,
.menu ul {
	list-style: none;
}

.menu > ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.menu > ul li a {
	display: block;
	background: #ececed;
	background: -moz-linear-gradient(top,  #ececed 0%, #dddddd 53%, #d1d1d1 74%, #a8a8a8 100%);
	background: -webkit-linear-gradient(top,  #ececed 0%,#dddddd 53%,#d1d1d1 74%,#a8a8a8 100%);
	background: linear-gradient(to bottom,  #ececed 0%,#dddddd 53%,#d1d1d1 74%,#a8a8a8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececed', endColorstr='#a8a8a8',GradientType=0 );
	padding: 15px 30px 15px 40px;
	font-size: 14px;
	color: #454547;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.menu > ul li {
	position: relative;
	border-right: 1px solid #c7cBca;
}

.menu > ul li > a i.fa {
	position: absolute;
	top: 15px;
	left: 12px;
	font-size: 18px;
}

.menu > ul li:first-child {
	border-left: 1px solid #b2b3b5;
}

.menu > ul li:last-child {
	border-right: 1px solid #babbbb;
}

.menu li a:hover {
	background: #595a5b;
	background: -moz-linear-gradient(top,  #595a5b 0%, #494949 71%, #2d2d2d 99%);
	background: -webkit-linear-gradient(top,  #595a5b 0%,#494949 71%,#2d2d2d 99%);
	background: linear-gradient(to bottom,  #595a5b 0%,#494949 71%,#2d2d2d 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595a5b', endColorstr='#2d2d2d',GradientType=0 );
	color: #ffffff;
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.3s ease;
}

/*Submenu*/

.menu li ul {
	position: absolute;
	min-width: 150px;
	display: none;
}

.menu li > ul li {
	border:  1px solid #c7c8ca;
}

.menu li > ul li a {
	padding: 10px;
	text-transform: none;
	background: #e4e4e5;
}

.menu li > ul li ul {
	position: absolute;
	right: -150px;
	top: 0;
}

.menu li:hover > ul {
	display: block;
}