body {
	background-image: url("../img/bg1.png")
}

wrapper {
	max-width: 650px;
	margin: 0 auto;
}

ul.acco {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 150px;
	padding: 0;
}

ul.acco li {
	width: 50px;
	overflow: hidden;
	padding: 1px 1px 0;
	cursor: pointer;
	display: block;
	-webkit-box-shadow: 1px 1px 15px #7e807e;
	box-shadow: 1px 1px 15px #7e807e;
	-webkit-transition:  all 1.5s;
	-moz-transition:  all 1.5s;
	-ms-transition:  all 1.5s;
	-o-transition:  all 1.5s;
	transition: all 1.5s;

}

ul.acco img {
	width: 300px;
}

ul.acco  li:hover {
	width: 300px;
	-webkit-box-shadow: 1px 2px 15px #36c5fa;
	box-shadow: 1px 2px 15px #36c5fa;
	-webkit-transition:  all 1s;
	-moz-transition:  all 1s;
	-ms-transition:  all 1s;
	-o-transition:  all 1s;
	transition: all 1s;
}

ul.acco li:nth-child(4) {
	width: 300px;
}

ul.acco:hover li:nth-child(4) {
	width: 50px;
}

ul.acco li:nth-child(4):hover {
	width: 300px;
}